<p>
  Yo soy el Joker
</p>

<p>
  Vamos a usar el decorador @Viewchild. Podemos obtener más información en la página de <a href="http://learnangular2.com/viewChild/" target="_blank">http://learnangular2.com/viewChild/</a>
</p>

<p>Este decorador, que incluiremos en el componente parent o principal, nos permitirá llamar a las funciones que tenga el componente child o hijo.
  El componente secuaz (child), va a tener una función que lanzará un alert con un saludo. A dicha función
  la llamaremos desde el otro componente, llamado Joker (parent).
</p>

<secuaz></secuaz>