<header></header>

<h1>
  {{title}}
</h1>

<div>
	<h2>Superheroes</h2>
	<a routerLink="/wonderwoman">wonderwoman</a>
	<a routerLink="/superman">superman</a>
	<a routerLink="/aquaman">aquaman</a>
	<a routerLink="/daredevil">daredevil</a>
	<a routerLink="/marvel">marvel</a>

	<a routerLink="/arrow">arrow</a>
	<a routerLink="/flash">flash</a>
	<a routerLink="/birdman">birdman</a>
	<a routerLink="/catwoman">catwoman</a>
	<a routerLink="/cyborg">cyborg</a>
	<a routerLink="/shazzam">shazzam</a>

	<a routerLink="/batgirl">batgirl</a>
	<a routerLink="/drice">Dr. Ice</a>
	<a routerLink="/villane-center">Villane</a>
	<a routerLink="/zoom">Zoom</a>
	<a routerLink="/mrfantastic">Mr.Fantastic</a>
</div>


<div>
	<router-outlet></router-outlet>
</div>
<footer></footer>